@{
  Layout = "_Layout";
}
@using CableProvider.Models;
@model List<CableProvider.Models.Show>;

<h1>Shows</h1>
@if (@Model.Count == 0)
{
  <h3>No shows have been added yet!</h3>
}
@foreach(Show show in Model)
{
  <li>@Html.ActionLink($"{show.Title}", "Details", new {id= show.ShowId})</li>
}
<p>@Html.ActionLink("Add new show", "Create")</p>